.container {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: rgb(240, 240, 240);
  border-bottom-right-radius: 6vw;
    border-bottom-left-radius: 6vw;
    color: black;
    padding: 2%;
}

.container h1{
  font-size: 54px;
   
  color: rgb(53, 53, 53);
  margin-bottom: 15px;
}

.container b{
  font-size: 54px;
   
  color: rgb(4, 249, 216);
}

.brands {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  animation: scroll 50s linear infinite;
}

.brands2 {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  animation: scroll2 50s linear infinite;
}

.brandItem {
  background-color: #fff;
  border-radius: 1vw;
  align-items: center;
  padding: 0.5vw 1vw;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 19px rgba(142, 151, 158, .85);
  min-width: 150px;
  margin: 15px;
  width: auto;
  max-width: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 20));
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(calc(-150px * 20));
  }
  100% {
    transform: translateX(0);
  }
}

.scrolltest{
  overflow-x: auto;
  white-space: nowrap;
}
.testimonials{
 display: flex;

}

 
.testimonial {
  /* height: 100%; */
  perspective: 1200px;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 2.5vw;
  transition: all .2s cubic-bezier(.25, .46, .45, .94);
  box-shadow: 0 4px 19px rgba(142, 151, 158, .25);
  border-top-right-radius: 6vw;
  flex: 0 0 auto; /* Prevent items from growing/shrinking */
  width: auto; /* Adjust the width as needed */

}
.bottomsection{
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}