.container {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: rgb(248 253 253);
  border-radius: 4vw;
    color: black;
    padding: 2%;
    padding-bottom: 4% !important;
}

.container h1{
  font-size: 54px;
   
  color: rgb(53, 53, 53);
  margin-bottom: 15px;
}

.container b{
  font-size: 54px;
   
  color: rgb(238, 102, 102);
}

.brands {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  animation: scroll 50s linear infinite;
}

.brands2 {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  animation: scroll2 50s linear infinite;
}

.brandItem {
  background-color: #fff;
  border-radius: 1vw;
  align-items: center;
  padding: 0.5vw 1vw;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 19px rgba(142, 151, 158, .85);
  min-width: 150px;
  margin: 15px;
  width: auto;
  max-width: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 20));
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(calc(-150px * 20));
  }
  100% {
    transform: translateX(0);
  }
}

.scrolltest{
  overflow-x: auto;
  white-space: nowrap;
}
.testimonials{
 display: flex;

}

 
.testimonial {
  /* height: 100%; */
  perspective: 1200px;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 2.5vw;
  transition: all .2s cubic-bezier(.25, .46, .45, .94);
  box-shadow: 0 4px 19px rgba(142, 151, 158, .25);
  border-radius: 2vw;
  flex: 0 0 auto; /* Prevent items from growing/shrinking */
  width: auto; /* Adjust the width as needed */
 .message {
  min-height: 150px;
  max-height: 150px;
 }
  p{
    font-size: 20px;
    margin: 5px -3px;
  }
}
.bottomsection{
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

.buttoncontainerleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 40vh;
  position: absolute;
}

.buttoncontainerright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 40vh;
  position: absolute;
  top: 0;
  width: 97vw;
}

.prev{
  background-color: #f0aa0a !important;
  color: black !important;
  border-radius: 10vw !important;
  margin-left: 2% !important;
  padding: 10px !important;
  position: absolute;
    // top: 45%;
    left: -1vw;
    z-index: 1000;
    span{
      height: 25px;
    }
}
.prev:hover{
  transform: translate(1px, 1px) !important;
  background-color: #f0aa0a !important;
  animation: scaleAnimation 0.3s ease-in-out;
}

.next{
  background-color: #f0aa0a !important;
  color: black !important;
  border-radius: 10vw !important;
  margin-left: 2% !important;
  padding: 10px !important;
  // left: 2%;
  //   bottom: 17vh;
    span{
    height: 25px;
    }
}

.next:hover{
  transform: translate(1px, 1px) !important;
  background-color: #f0aa0a !important;
  animation: scaleAnimation 0.3s ease-in-out;
}


@keyframes scaleAnimation {
  0% {
    transform: scale(0.8); /* Scale to 80% */
  }
  100% {
    transform: scale(1); /* Back to original size */
  }
}