.header{
  position: fixed;
  top: 0;
}

@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .drawer {
    animation: slideIn 1s forwards;
    transition: transform 0.5s;

  }
  
  .drawer.closed {
    animation: slideOut 1s forwards;
  }
  .hambutton{
    border: 0px;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .list{
    width: 100%;
    max-width: 360;
    justify-content: center;
    display: grid;
    .item{
      margin-bottom: 2%;
      font-size: 20px;
      color: #700303;
    }
  }
