.header{
  position: fixed;
  top: 0;
}

@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .drawer {
    animation: slideIn 1s forwards;
    transition: transform 0.5s;

  }
  
  .drawer.closed {
    animation: slideOut 1s forwards;
  }
  .hambutton{
    border: 0px;
    background-color: transparent;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  .list{
    width: 100%;
    max-width: 360;
    justify-content: center;
    display: grid;
   
    .item{
      margin-bottom: 4%;
      font-size: 20px;
      transition: transform ease 300ms;
      cursor: pointer;

      .icon{
        min-width: 35px !important;
      }
      span{
        font-size: 22px;
        font-family: fantasy;
        color: #545252;
      }
     
    }
    .item:hover  {
      color: #700303;
      transform: translate(5px, 0px);
      .icon{
      color: #700303;

      }
      span{
      color: #700303;
      }
    }
  }
