.cardslidercontainer {
  width: 95%;
  overflow-x: hidden;
  position: relative;
  margin: 7% 2%;
}


.cardslider {
  display: flex;
}

.card {
  flex: 0 0 auto;
  margin-right: 5%;
}

.slidercontrols {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 3%;
  button{
    background-color: #980101;
    color: white;
    padding: 1%;
    border-radius: 100vw;
  }
}

.sliderthumb {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}
