body{
  margin: 0px;
  overflow-x: hidden;
  background-color: #3f3f3f;
  color: white;
}

body::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

/* Track */
body::-webkit-scrollbar-track {
  background: #8b8b8b; /* color of the track */
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #660606; /* color of the scrollbar handle */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #980101; /* color of the scrollbar handle on hover */
}

.fantasy{
  font-family: fantasy;
}
.ml40p{
  margin-left: 40%;
}
.mt15{
  margin-top: 10%;
}

.minw15p .MuiDrawer-paper{
  min-width: 15% !important;
  height: 100vh !important;
  border-bottom-right-radius: 35vw;
  }

  .minw100p .MuiDrawer-paper{
    min-width: 100% !important;
    height: 100vh !important;
    border-bottom-right-radius: 5vw;
    }
  

.ztop{
  z-index: 1201;
  position: absolute;

}
.hamburger-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: transform 0.5s;

}

.hamburger-icon:hover
  .line{
  background-color: #980101 ;
  
}

.redline .line{
  background-color: #980101;
}
.line:nth-child(1){
  height: 4px;
}
.line:nth-child(3){
  width: 101%;
  height: 5px;
}


.open .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.m7{
  margin: 7% !important;
}

.m4{
  margin: 4% !important;
}
.m2{
  margin: 2% !important;
}

.bgwhite{
  background-color: white !important;
  color: #000;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {

  background-color: rgb(221 221 221 / 50%);
 
}

.MuiLinearProgress-root{
  background-color: white;
}

.css-5xe99f-MuiLinearProgress-bar1{
  background-color: #980101 !important;
}

.maincolor{
  background-color: #980101;
}