.footer{

    .MuiOutlinedInput-input{
        border-radius: 100vw !important;
        border: 1px solid white !important;
        border-color: white !important;
    }
h1{
    color: rgb(4, 249, 216);
    font-family: fantasy;
    font-size: 40px;
}

.inputbox{
    border: 1px solid;
    border-radius: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 4%;
    border: 1px solid rgb(255, 255, 255);
    transition: border-color 0.3s; /* Add a smooth transition effect */
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    flex: 1;
    color: aliceblue;

  }
  
  /* Remove focus outline for accessibility */
  input:focus {
    outline: none;
   
  }
  .inputbox:focus-within{
    border-color: yellow;
    border-image-slice: 1;
    border-radius: 100vw !important;
  }
  
  .inputbox:hover{
    border: 2px solid yellow;
    }
  /* Remove hover effect */
  input:hover {
    border: none;
   
  }

.inputbutton{
    background-color: rgba(151, 151, 151, 0.5);
    // padding: 5%;
    min-width: 133px;
    min-height: 38px;
    border-radius: 100vw;
//   transition: color 200ms;
  transition: width 2.5s ease-in-out ;
  color: white;

}
.inputbutton:hover{
    background-color: rgba(137, 186, 199, 0.5);
    min-width: 143px;


}

.menu
{
    margin-top: 5% !important ;
}

.listmenu{
    display: flex;
   

    li{
        padding: 1%;
    }
    li:hover{
        color: rgb(249 194 4);
        cursor: pointer;
    }
    .icon{
        color: rgb(249 194 4);
    }
}
    
}