.footer{

    .MuiInputBase-root, .MuiTextField-root{
        border-radius: 100vw !important;
        border: 1px solid white !important;
        border-color: white !important;
    }
h1{
    color: rgb(4, 249, 216);
    font-family: fantasy;
    font-size: 40px;
}

input {
    // height: 4vw;
    color: #fff;
    letter-spacing: 1px;
    text-indent: 1vw;
    background-color: rgba(0, 0, 0, 0);
    // border: 2px solid #fff;
    // border-radius: 100vw;
    margin-bottom: 0;
    // padding: 0.5vw;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    overflow: hidden;
  transition: color 200ms;

}
.input:hover{
    border: 2px solid rgb(249 194 4);
}

.inputbutton{
    background-color: rgba(151, 151, 151, 0.5);
    // padding: 5%;
    min-width: 133px;
    min-height: 38px;
    border-radius: 100vw;
//   transition: color 200ms;
  transition: width 2.5s ease-in-out ;
  color: white;

}
.inputbutton:hover{
    background-color: rgba(137, 186, 199, 0.5);
    min-width: 143px;


}
.MuiOutlinedInput{
    border-radius: 100vw !important;
   
}

.Mui-focused  {
    border-color: red !important; /* Change the border color when focused */
  }
  
  /* Styles for the focused state of the label */
  .MuiTextField-root .MuiInputLabel-root.Mui-focused {
    color: blue; /* Change the label color when focused */
  }
  
  .Mui-focused .MuiInputLabel-outlined {
    color: blue; /* Change the label color when focused */
  }
.menu
{
    margin-top: 5% !important ;
}

.listmenu{
    display: flex;
   

    li{
        padding: 1%;
    }
    li:hover{
        color: rgb(249 194 4);
        cursor: pointer;
    }
    .icon{
        color: rgb(249 194 4);
    }
}
    
}