.heroc{
    h1{
         
        font-size: 60px;
        span{
             
        font-size: 60px;
        color: rgb(238, 102, 102);


        }
    }
}

.listmenu{
    .item {
        width: 85%;
      cursor: pointer;
      border-bottom: 1px solid rgb(173 173 173);
      padding: 2% 7%;
      margin: 0% 2%;
      
      div{
        justify-content: space-between;
        display: flex;
        align-items: center;
        p{
          color: rgb(238, 102, 102);

        }
        a{
          color: rgb(238, 102, 102) !important;
 
        }
      }
    }
    .item p:hover{
          color: rgb(238, 224, 102);
          span{
  animation: floatLeftRightmb 5s linear infinite; /* Customize the animation duration and timing here */
          }
    }
    span{
      font-size: 26px !important;
       
    }
  
}

.bannerc {
    background-color: rgb(24, 24, 24);
    
    .div {
        margin-top: 10%;
        width: 90%;
        justify-content: flex-end;
        display: flex;
        margin-left: 1%;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        // transition: transform 1.5s ease-in-out !important;

    }
 
    img {
        color: transparent;
        display: flex;
        align-items: end;
        width: 100%;
        justify-content: flex-end;
        // transition: transform 1.5s ease-in-out !important;
    }
    
    
    .letter1 {
        display: block;
        height: 160px !important;
        width: 80%;
    }
    
    .letter2 {
        display: none;
        height: 160px !important;
        opacity: 0;
        transition: opacity 1.5s ease-in-out !important;
        width: 80%;

    }
    
  
    .div:hover img {
        /* Apply the transformation on hover */
        // transform: rotate(10deg);
    }
 .computer{
    display: flex;
    position: absolute;
    right: 27%;
    top: 0;
    width: 58%;
  

        .cm1{
            display: block;
            height: 160px !important;
            margin-left: 15%;
        }
        .cm2{
            display: block;
            height: 120px !important;
            margin-top: 10%;
    }
   
              
}

.comp{
    position: relative;
    height: 250px;
    width: 110%;
    overflow: hidden;
    display: flex;
    transition: transform  0.1s ease-in-out !important;
    margin-right: 8%;
    img{
        width: 15%;
        height: auto !important;
        position: absolute;
    }
.cm3{
    display: block;
    right: 18%;
   
}    .cm4{
    display: block;
    right: 20%;
    top: 46%;
    transform: rotate(172deg);


}    .cm5{
display: block;
width: 6%;
    height: 150px !important;
    left: 20%;

}    .cm6{
display: block;
left: 30%;
bottom: 10%;
width: 12%;


}
.cm7{
display: block;
right: 0;
}
.cm8{
    display: block;
    display: block;
    right: 30%;
    top: 56%;

    // transform: rotate(172deg);

}
    .cm9{
        display: block;
        right: 45%;
        width: 22%;
    }
}
.comp:hover{
    .cm3{
        transform: translateX(-35px);
       
    }    .cm4{
        transform: translateX(25px);
    transform: rotate(172deg);

    
    
    }    .cm5{
        transform: translateX(-35px);
    
    }    .cm6{
        transform: translateY(15px);
    
    
    }
    .cm7{
        transform: translateX(25px);
    }
    .cm8{
        transform: translateY(35px);
    
    }
        .cm9{
            transform: translateY(-15px);
        }
}

    .letter:hover .letter1 {
        /* Hide letter1 on hover */
        display: none;
    }

    .letter:hover .letter2 {
        /* Show letter2 on hover */
        display: block;
        opacity: 1;
        animation: rotateAnimation 0.5s linear forwards;
    }
    @keyframes rotateAnimation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(5deg);
        }
    }
}


.contact{
    background-color: rgb(249, 255, 255);
  border-radius: 3vw;
    min-height: 500px;
    .faq{
        color: black;
    border-bottom: 1px solid rgb(66, 66, 66);
    }
li{
    // border-bottom: 1px solid rgb(66, 66, 66);
    color: black;
    // margin-bottom: 5px;
    span{

    font-size: 30px !important;
    font-weight: 600 !important;
    }
    transition: padding-left 0.5s ease-in-out;
    cursor: pointer;
}
li:hover{
    padding-left: 5%;
}

  
}

.stickyHeader {
    position: sticky;
    top: 0; /* Stick the header to the top */
    background-color: #fff; /* Set the background color as needed */
    z-index: 1; /* Ensure the sticky header appears above the content */
  }

  .icon {
    width: 200px !important;
    height: auto;
  }