.heroc{
    h1{
         
        font-size: 60px;
        span{
             
        font-size: 60px;
        color: #f0b30a;

        }
    }
}

.listmenu{
    .item {
        width: 85%;
      cursor: pointer;
      border-bottom: 1px solid rgb(173 173 173);
      padding: 2% 7%;
      margin: 0% 2%;
      
      div{
        justify-content: space-between;
        display: flex;
        align-items: center;
        p{
          color: rgb(238, 102, 102);

        }
        a{
          color: rgb(238, 102, 102) !important;
 
        }
      }
    }
    .item p:hover{
          color: rgb(238, 224, 102);
          span{
  animation: floatLeftRightmb 5s linear infinite; /* Customize the animation duration and timing here */
          }
    }
    span{
      font-size: 26px !important;
       
    }
  
}

.bannerc {
    background-color: rgb(24, 24, 24);
    
    .div {
        width: 20%;
        justify-content: flex-end;
        display: flex;
        margin-left: 70%;
        margin-top: 25%;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        // transition: transform 1.5s ease-in-out !important;
    }
 
    img {
        color: transparent;
        display: flex;
        align-items: end;
        width: 100%;
        justify-content: flex-end;
        // transition: transform 1.5s ease-in-out !important;
    }
    
    .letter1 {
        display: block;
        height: 160px !important;
    }
    
    .letter2 {
        display: none;
        height: 160px !important;
        opacity: 0;
        transition: opacity 1.5s ease-in-out !important;
    }
  
    .div:hover img {
        /* Apply the transformation on hover */
        // transform: rotate(10deg);
    }

    .div:hover .letter1 {
        /* Hide letter1 on hover */
        display: none;
    }

    .div:hover .letter2 {
        /* Show letter2 on hover */
        display: block;
        opacity: 1;
        animation: rotateAnimation 0.5s linear forwards;
    }
    @keyframes rotateAnimation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(5deg);
        }
    }
}

.contact{
    background-color: rgb(249, 255, 255);
  border-radius: 3vw;
    min-height: 500px;
    .faq{
        color: black;
    border-bottom: 1px solid rgb(66, 66, 66);
    }
li{
    // border-bottom: 1px solid rgb(66, 66, 66);
    color: black;
    // margin-bottom: 5px;
    span{

    font-size: 30px !important;
    font-weight: 600 !important;
    }
    transition: padding-left 0.5s ease-in-out;
    cursor: pointer;
}
li:hover{
    padding-left: 5%;
}

  
}

.stickyHeader {
    position: sticky;
    top: 0; /* Stick the header to the top */
    background-color: #fff; /* Set the background color as needed */
    z-index: 1; /* Ensure the sticky header appears above the content */
  }

  .icon {
    width: 100px !important;
  }