.topp{
 margin: 1% 3%;

  -ms-overflow-style: none !important;  /* Internet Explorer 10+ */
  scrollbar-width: none !important; 
  h1{
    font-size: 55px;
     
    color: aliceblue;
    span{
          color: rgb(238, 102, 102);
         
    }
  }

  .buttonassets{
    border-radius: 100vw;
        background-color: #ffffff;
//   background-color: rgb(139, 2, 2);
        color: black;
         padding: 8px 3%;
        min-width: 20px;
        transition: transform .4s cubic-bezier(.175, .885, .32, 1.275), box-shadow .4s cubic-bezier(.23, 1, .32, 1);
  }
  .buttonassets:hover{
    transform: translate(2px, 2px);
    box-shadow: inset -3px 3px 15px rgba(0, 0, 0, .2), 0 0 rgba(0, 0, 0, 0);
    background-color: #f0aa0a;
    svg{
        transition: transform .4s cubic-bezier(.175, .885, .32, 1.275), box-shadow .4s cubic-bezier(.23, 1, .32, 1);

        transform: scale3d(1.3,1.1,1);
        padding-left: 2px;
        // padding: 1%;
  }
}

.buttonassetsm{
  border-radius: 100vw;
      background-color: #ffffff;
//   background-color: rgb(139, 2, 2);
display: none;
      color: black;
       padding: 8px 3%;
      min-width: 20px;
      transition: transform .4s cubic-bezier(.175, .885, .32, 1.275), box-shadow .4s cubic-bezier(.23, 1, .32, 1);
      margin: 5%;
}
}
.top::-webkit-scrollbar {
  display: none !important;
  }
  
  /* Track */
  .top::-webkit-scrollbar-track {
    display: none;
}

.slidefromright {
  animation: slideRight 0.5s;
}

.slidefromleft {
  animation: slideLeft 0.5s;
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.buttons{
  width: 180px;
    display: flex;
    justify-content: space-between;
}

.prev{
  background-color: #f0aa0a !important;
  color: black !important;
  border-radius: 10vw !important;
  margin-left: 2% !important;
  padding: 10px !important;
  position: absolute !important;
  position: absolute !important;
  z-index: 1000;
  top: 80%;
}
.prev:hover{
  transform: translate(1px, 1px) !important;
  background-color: #f0aa0a !important;
}

.next{
  background-color: #f0aa0a !important;
  color: black !important;
  border-radius: 10vw !important;
  margin-left: 2% !important;
  padding: 10px !important;
  position: absolute !important;
    top: 0;
    left: 8%;
    /* transform: translateX(-50%); */
    top: 80%;
}

.next:hover{
  transform: translate(1px, 1px) !important;
  background-color: #f0aa0a !important;

}

@media screen and (min-width: 200px) {
  .next{
    left: 75%;

  }
  
  }

@media screen and (min-width: 600px) {
.next{
  left: 80%;

}

}

@media screen and (min-width: 1000px) {
  .next{
    left: 10%;

  }
  
  }


  .product-item{
    /* Default styles for slick slider items */
    /* You can set a default width and height here */
    margin-right: 10px;
    margin-left: 10px;
    width: 30vw;
    overflow: hidden;
    margin-bottom: 20%;
    position: relative;
    height: 14vw;
    border-radius: 2vw;
    img {
      max-width: 100%; 
      height: 100%;/* Ensure the image doesn't exceed its container */
      display: block; /* Remove any extra spacing below the image */
    }
    h3{
    z-index: 1000;
    position: absolute;
  top: 75%; /* Position it vertically in the middle of the container */
  left: 0; /* Position it at the left edge of the container */
  transform: translateY(-50%); 
    background: #f0aa0a;
    color: black;
    padding: 10px;
    border-radius: 3vw;
    font-size: 15px;
    display: flex;
    // direction: rtl;
    align-items: center;
    transition: all 0.8s ease-in-out;
    margin-left: 1%;
    }
   
    span{
      // display: none;
      width: 0px;
      opacity: 0; /* Initially hidden with zero opacity */
      transform: translateY(-10px); /* Initially shifted up */
      transition: all 0.2s ease-in-out; /* Transition all properties */
     cursor: pointer;
    }
  
  h3:hover{
    background-color: rgb(0, 0, 0);
    color: #f0aa0a;
    span{
    color: #f0aa0a;
      
  opacity: 1; /* Add opacity for smooth fading effect */
  transform: translateY(0); /* Add a smooth vertical transition */
  // transition-delay: 0.2s; 
 
    width: 50px;
   
      
    }
    svg{
      background-color: #f0aa0a;
      color: black;
      border-radius: 50%;
      margin-left: 6%;
      width: 30px;
      height: auto;
    }
  }
  
    img{
      width: 100% !important;
     
    }
  
  }
  .first{
    h3{
      background-color: rgb(0, 0, 0);
      color: #f0aa0a;
      span{
      color: #f0aa0a;
        
    opacity: 1; /* Add opacity for smooth fading effect */
    transform: translateY(0); /* Add a smooth vertical transition */
    // transition-delay: 0.2s; 
   
      width: 50px;
     
        
      }
      svg{
        background-color: #f0aa0a;
        color: black;
        border-radius: 50%;
        margin-left: 6%;
        width: 30px;
        height: auto;
      }
    }
}

  @media (max-width: 1524px) {
    .product-item {
      width: 30vw;  /* Custom width for this breakpoint */
      // height: auto; /* Custom height for this breakpoint */
      h3{
      top: 68%; 
      font-size: 12px;
    }
  }
}
@media (max-width: 1024px) {
  .product-item {
    width: 40vw;  /* Custom width for this breakpoint */
    height: 22vw; /* Custom height for this breakpoint */
    h3{
    top: 60%; 
    font-size: 10px;
  }
}
}
@media screen and (max-width: 800px) {
  .buttonassets{
    display: none;
  }
  .buttonassetsm{
    display: block;
  }
  .product-item {
    width: 40vw;  /* Custom width for this breakpoint */
    height: 22vw; /* Custom height for this breakpoint */
    h3{
    top: 58%; 
  }
}
}
  @media (max-width: 600px) {
    .topp{
      margin-bottom: 2% !important;
    }
    .product-item {
      width: 85vw;  /* Custom width for this breakpoint */
      height: 33vw; /* Custom height for this breakpoint */
      h3{
        top: 65%; 
      }
    }
  }