

.hero2{
    h1{
        font-size: 74px;
        font-family: fantasy;
        color: rgb(221, 253, 245);
    }
    p{
       font-size: 20px;
        margin-bottom: 15px;
        margin-left: 5%;
    }

    .button1{
        border-radius: 100vw;
        background-color: rgb(139, 2, 2);
        color: aliceblue;
         padding: 8px 6%;
         margin-top: 10px;
        min-width: 20px;
        margin-left: 5%;
    }
    .button1:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    .button2{

        border-radius: 100vw;
        padding: 8px 6%;
        min-width: 20px;
        margin-left: 15px;
        margin-top: 10px;
    }

    .button2:hover{
        background-color: rgb(5, 95, 95);
        color: aliceblue;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    }
}

.banner2{
    // border-bottom-right-radius: 6vw;

    // border-bottom-left-radius: 6vw;
    background-color: rgb(24, 23, 23);
   color: rgb(255, 250, 250);
}

.imageContainer {
    position: relative;
    animation: floatLeftRightmb 5s linear infinite; /* Customize the animation duration and timing here */
  }
  


  .services{
    background-color: rgb(237, 244, 250);
    color: black;
  }

  @keyframes floatLeftRightmb {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px); /* Customize the distance the image travels */
    }
  }
  .listmenu{
      .item {
        cursor: pointer;
        border-bottom: 1px solid rgb(173 173 173);
        padding: 2% 7%;
        margin: 0% 2%;
      }
      .item:hover{
            color: rgb(238, 102, 102);
            span{
    animation: floatLeftRightmb 5s linear infinite; /* Customize the animation duration and timing here */
            }
      }
      span{
        font-size: 26px !important;
        font-family: fantasy;
      }
    
  }